# Dependency directories
node_modules/
jspm_packages/

# TypeScript compiled directory
dist/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# Environment variables
.env

# Debug log
npm-debug.log

# Cache directory
.cache
